<!DOCTYPE html>
<html>

<head>


	<title>Home Page</title>

	<link rel="stylesheet" href="css/demo.css">
	<link rel="stylesheet" href="css/form-register.css">
	<link rel="stylesheet" href="css/c3-b03125fa.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/leaflet.css">
<link rel="stylesheet" href="css/jqcloud.min.css">

</head>

	<header>
		<h1>Monitoring tool</h1>
		<div align="right">
			<a  href="/logout" class="form-log-out">Logout</a>
</div>
    </header>


    <div class="main-content">


        <form class="form-register" action="#">

            <div class="form-register-with-email">

                <div class="form-white-background">

                    <div class="form-title-row">
                        <h1 align="center">User Profile</h1>
                    </div>

                    <div class="form-row">
                        <label>
                            <span>Name</span>
                        </label>
                            <span><%= name	 %></span>
                    </div>

                    <div class="form-row">
                        <label>
                            <span>Username</span>
                        </label>
                            <span><%= username %></span>
                    </div>

                    <div  class="form-row">
                        <label align="center">
                            <span >Login History</span>
                        </label>
												<div align="center">
													<textarea readonly rows="8" cols="40"><%- logHistory %> </textarea>
												</div>
											</br>
										</br>
												<label align="center">
														<span>Behavirol History</span>
												</label>
											</br>
										</br>
												<div align="center">
													<textarea readonly rows="8" cols="110"><%- behaviorHistory %> </textarea>
												</div>
											</br>
										</br>
										<label align="center">
												<span><strong>“Why do you decide to log these actions?</strong></span>
										</label>
									</br>
										<label align="left">
										</br><p><strong>1. Questions Checked:</strong> This activity is logged in order to see which type of questions are mainly being checked by the user like technology, problem etc..</p><br />
<p><strong>2. Up and Down votes:</strong> This activity logging is done to check what type questions the user is liking so what kind of explanation is favoring the user can be found. In general, this can be linked to what questions are checked and liked and unliked as well.</p><br />
<p><strong>3. Scrolls:</strong> Recording this activity helps in how long user is going down on a single page which indicates irrelevant questions initially and this information helps in ordering questions based on user behavior.</p><br />
<p><strong>4. Mark and Unmark Favorites:</strong> This activity helps in knowing what kind of questions the user is liking or willing to look in future. In general, when the user checks the question doesn't mean he/she should be suggested with this kind of questions but if they mark it as favorite next time same author questions or same kind of questions can be recommended for sure when searched on the similar topic.</p><br />
<p><strong>5. Post questions or answers to the question:</strong>&nbsp;These behaviors are logged to check how good a person is on a specific topic or needs help on a specific topic. User's performance evaluation can be done and recommendations can be made to the end user to answer similar questions which they answered or show similar questions which were already answered for prior reference.</p><br />
										</label>
                    </div>
										<div align="center">
 							 			<a target="_blank" href="https://stackoverflow.com/questions/tagged/java?sort=frequent&pageSize=15" class="form-stack-overflow">Click Here to go to Stack Overflow Page</a>
 							 </div>
                </div>


            </div>

        </form>
    </div>
		<div class="container-fluid">
        <div class="well well-sm">
            <h3>Profile Analysis</h3>
        </div>
        <div class="row">
					<div class="col-sm-12">
						 <div class="layout_box">
								 <div class="layout_box_header">
										 <input value="Activity" disabled>
								 </div>
								 <div class="layout_box_content">
										 <div id='prosecuting_agency'></div>
								 </div>
						 </div>
				 </div>
            <div class="col-sm-6">
                <div class="layout_box">
                    <div class="layout_box_header">
                        <input value="Keywords" disabled>
												<div class="dropdown">
  										</div>
											<select onchange="javascript:changeCloud(this.value)">
  <option value="Me">Me</option>
  <option value="All Users">All Users</option>
</select>
                    </div>

                    <div class="layout_box_content">
											<div id="scatterplot" style="width: 700px; height: 472px;"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="layout_box">
                    <div class="layout_box_header">
                        <input value="Performance" disabled>
                    </div>
                    <div class="layout_box_content">
                        <div id='trigram'></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="layout_box">
                    <div class="layout_box_header">
                        <input value="Analysis & Findings" disabled>
                    </div>
                    <div class="layout_box_content">
                        <div id='aspect'>
													<p><strong>Words Clouds:</strong> The data which is collected as questions clicked is used here. <br /><strong>Analysis1:</strong> Based on the question headers all the keywords are generated by removing the junk characters and stop words from the data and word frequencies are generated from the cleaned data. <br /><strong>Finding1:</strong> From this, we can find on what key topics user is more spending time on (just viewing, answering, up and down voting, marking it favorite etc.,) so that suggestions based on that inference keywords can be given.<br /><strong>Pattern1:&nbsp;</strong>Words in higher sizes indicate more lookup on those topics.</p>
		<p><strong>Finding2:&nbsp;</strong>Based on other users data user gets to know what keywords they are mainly working on based on that user can either seek help from others or help other users by viewing their profile.&nbsp;<br /><strong>Pattern2:&nbsp;</strong>Words used are either used by all others or neither of them used but related topics used to contact.</p>
		<p><br /><strong>Activity Time series:</strong> All users activity profile is generated based on their activity on stack overflow over the time. <br /><strong>Analysis:</strong> This is done by rolling up the entire activity data based on username and time by converting it to a day frame. <br /><strong>Finding:</strong> The major finding derived from this is based on user activity and checking user profile a user might be active on very certain days like hackathons, projects etc., which will help us to improve resources to better improvise the recommender system and suggest based on further analysis.<br /><strong>Pattern:&nbsp;</strong>Most users are active on specific days. Can be any technology event.</p>
		<p><br /><strong>Performance metrics:</strong> A user can be analyzed in a specific topic based on their data of performance. <br /><strong>Analysis:</strong> For this questions posted and answers posted data is collected and they are rolled up based on user and type (questions posted or answers posted) and counts are generated. <br /><strong>Finding:</strong> The finding derived from this is user gets to know his/her overall performance by comparing to other users in general.<br /><strong>Pattern:&nbsp;</strong>More questions asked or questions answered than others higher the performance. Interest in the topic is known.</p>
		<p><br /><strong>Overall Analysis and Finding (all three charts combined):</strong> Based on all three charts we get to know in what time a user is more active and what keywords he is mostly into and how many questions or answers are posted. This is will give us a major inter-related finding saying a user is mainly answering or posting a question related to specific keywords in the word cloud in the most active hours in the activity time-series chart.<br /><strong>Pattern:&nbsp;</strong>Major pattern found is there is a high chance that user in the most active time period is answering more questions or posting new question on the topics listed out as major keyowords on word cloud.</p>
		<p>&nbsp;</p>
		<p><strong>Interactivity:</strong></p>
		<ul>
		<li><strong>Drop down selection: For word-cloud user can select either "Me" indicating his main keywords or 'All users" indicating comparing with all other users</strong></li>
		<li><strong>Hover: For bar charts and time series charts user is given an option to view the data on Hover</strong></li>
		<li><strong>Zoom: In bar plot user can drag the sub chart provided in order to select specific users data.</strong></li>
		<li><strong>Scroll: In the bar plot even scroll is provided in order to view the data which are not viewed in the graph</strong></li>
		</ul>
													</div>
                    </div>
                </div>
            </div>
       </div>
    </div>
		<script src="js/jquery-1.11.0.min-910066fb.js" type="text/javascript"></script>
		<script src="js/d3-3.5.6.min-77adef17.js" type="text/javascript"></script>
		<script src="js/c3.min-4c5bef8f.js" type="text/javascript"></script>
		<script src="js/bootstrap.min.js" type="text/javascript"></script>
		<script src="js/leaflet.js" type="text/javascript"></script>
		<script src="js/main.js" type="text/javascript"></script>
		<script src="js/jqcloud.min.js"></script>
</body>

</html>
