<!DOCTYPE html>
<html>

<head>


	<title>Home Page</title>

	<link rel="stylesheet" href="css/demo.css">
	<link rel="stylesheet" href="css/form-register.css">

</head>

	<header>
		<h1>Monitoring tool</h1>
		<div align="right">
			<a  href="/logout" class="form-log-out">Logout</a>
</div>
    </header>


    <div class="main-content">


        <form class="form-register" action="#">

            <div class="form-register-with-email">

                <div class="form-white-background">

                    <div class="form-title-row">
                        <h1 align="center">User Profile</h1>
                    </div>

                    <div class="form-row">
                        <label>
                            <span>Name</span>
                        </label>
                            <span><%= name	 %></span>
                    </div>

                    <div class="form-row">
                        <label>
                            <span>Username</span>
                        </label>
                            <span><%= username %></span>
                    </div>

                    <div  class="form-row">
                        <label align="center">
                            <span >Login History</span>
                        </label>
												<div align="center">
													<textarea readonly rows="8" cols="40"><%- logHistory %> </textarea>
												</div>
											</br>
										</br>
												<label align="center">
														<span>Behavirol History</span>
												</label>
											</br>
										</br>
												<div align="center">
													<textarea readonly rows="8" cols="110"><%- behaviorHistory %> </textarea>
												</div>
											</br>
										</br>
										<label align="center">
												<span><strong>“Why do you decide to log these actions?</strong></span>
										</label>
									</br>
										<label align="left">
										</br><p><strong>1. Questions Checked:</strong> This activity is logged in order to see which type of questions are mainly being checked by the user like technology, problem etc..</p><br />
<p><strong>2. Up and Down votes:</strong> This activity logging is done to check what type questions the user is liking so what kind of explanation is favoring the user can be found. In general, this can be linked to what questions are checked and liked and unliked as well.</p><br />
<p><strong>3. Scrolls:</strong> Recording this activity helps in how long user is going down on a single page which indicates irrelevant questions initially and this information helps in ordering questions based on user behavior.</p><br />
<p><strong>4. Mark and Unmark Favorites:</strong> This activity helps in knowing what kind of questions the user is liking or willing to look in future. In general, when the user checks the question doesn't mean he/she should be suggested with this kind of questions but if they mark it as favorite next time same author questions or same kind of questions can be recommended for sure when searched on the similar topic.</p><br />
<p><strong>5. Post questions or answers to the question:</strong>&nbsp;These behaviors are logged to check how good a person is on a specific topic or needs help on a specific topic. User's performance evaluation can be done and recommendations can be made to the end user to answer similar questions which they answered or show similar questions which were already answered for prior reference.</p><br />
										</label>
                    </div>
										<div align="center">
 							 			<a target="_blank" href="https://stackoverflow.com/questions/tagged/java?sort=frequent&pageSize=15" class="form-stack-overflow">Click Here to go to Stack Overflow Page</a>
 							 </div>
                </div>


            </div>

        </form>

    </div>

</body>

</html>
